.plant-layout {
  min-height: 100vh;
  background-color: #f3f4f6;
  padding: 16px;
}

.back-button {
  font-size: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

.image-wrapper {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  position: relative;
}

.image-wrapper img {
  width: 80%;
  height: 80%;
  object-fit: cover; /* 이미지가 꽉 차도록 */
  border-radius: 230%; /* 동그랗게 */
  border: 2px solid #ffffff; /* 연두색 테두리 (원하는 색으로 바꿔도 됨) */
  box-shadow: 0 0 5px rgba(0,0,0,0.2); /* 살짝 그림자 */
}

.plant-image {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  object-fit: cover;
}

.camera-icon {
  position: absolute;
  bottom: 0;
  right: 38%;
  background-color: white;
  padding: 4px;
  border-radius: 50%;
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-section input,
.form-section select,
.form-section textarea {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #D9D9D9;
  width: 148px;
  height: 24px;
  margin: 0 auto;
  text-align: center;
}

.date-wrapper {
  position: relative;
  margin: 0 auto;
}

.calendar-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}

.submit-button-wrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.submit-button {
  background-color: #4B6044;
  color: white;
  border-radius: 15px;
  width: 151px;
  height: 33px;
  left: 111px;
  top: 467px;
  border: 1px solid #FFFFFF;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #065f46;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
}
