.plant-layout {
  min-height: 100vh;
  background-color: #f3f4f6;
  padding: 16px;
}

.back-button {
  font-size: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

.image-wrapper {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  position: relative;
}

.image-wrapper img {
  width: 80%;
  height: 80%;
  object-fit: cover; 
  border-radius: 230%; 
  border: 2px solid #ffffff; 
  box-shadow: 0 0 5px rgba(0,0,0,0.2); 
}

.plant-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

.camera-icon {
  position: absolute;
  top: 55%;
  right: 5%;
  background-color: white;
  padding: 4px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

input,
select {
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #D9D9D9;
  width: 154px;
  height: 24px;
  margin: 0 auto;
  text-align: center;
  display: block;
}

textarea {
  width: 300px;
  min-height: 80px;
  padding: 8px;
  border-radius: 10px;
  background-color: #D9D9D9;
  border: 1px solid #ddd;
  resize: vertical;
  font-size: 14px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

label + textarea {
  margin-top: 4px;
  margin-bottom: 12px;
}

.inline-form-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 12px;
}

.inline-form-row label {
  width: 100px;
  text-align: right;
  font-weight: 500;
}

.date-wrapper {
  position: relative;
  margin: 0 auto;
}

.calendar-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}

.submit-button-wrapper {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.submit-button {
  background-color: #4B6044;
  color: white;
  border-radius: 15px;
  width: 151px;
  height: 33px;
  left: 111px;
  top: 467px;
  border: 1px solid #FFFFFF;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #065f46;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
}
